.bannerImage {
    background-image: url('../asset/image/product/banner.jpg');
}

.overTwoLineHidden {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .checkBoxLabel::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: #d7c9b9;
}

.checkBoxLabel::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 8px;
    height: 8px;
    background-color: #148cc2;
    transform: scale(1) translate(-50%,-50%);
} */


.checkBoxLabel {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    color: #666;
}

.checkBoxLabel:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 1px solid rgba(112, 55, 37, 0.288);
    border-radius: 100%;
    background: #fff;
}

.checkBoxLabel:after {
    content: "";
    width: 14px;
    height: 14px;
    background: #81380d;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.radioBox:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.radioBox:checked+label:after {
    opacity: 1;
    transform: scale(1);
}


.CartCountBtn {
    position: relative;
    width: 45px;
    height: 45px;
}

.CartCountInput{
    width: 80px;
    height: 45px;
    line-height: 50px;
    /* border: 1px solid #ececec; */
    /* font-size: 15px; */
    /* color: #959595; */
    text-align: center;
    letter-spacing: .1em;
}



.AdditionCountBtn {
    position: relative;
    width: 30px;
    height: 30px;
}

.AdditionCountInput{
    width: 60px;
    height: 30px;
    background: white;
    /* line-height: 50px; */
    /* border: 1px solid #ececec; */
    /* font-size: 15px; */
    /* color: #959595; */
    text-align: center;
    letter-spacing: .1em;
}


/* Chrome, Safari, Edge, Opera */
.CartCountInput::-webkit-outer-spin-button,
.CartCountInput::-webkit-inner-spin-button,
.AdditionCountInput::-webkit-outer-spin-button,
.AdditionCountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.CartCountInput[type=number],
.AdditionCountInput[type=number] {
  -moz-appearance: textfield;
}


